header {
	width: 100%;
	height: 5em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;

	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (width < 750px) {
			justify-content: flex-start;
		}

		.rippedWrapper2 {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			pointer-events: none;
	
			.ripped2 {
				width: 100%;
				height: auto;
				position: relative;
				transform: translateY(-55%);
				display: flex;
				align-items: center;
				justify-content: center;

				@media (width < 750px) {
					transform: translateY(-58%);
				}

				@media (width > 1920px) {
					transform: translateY(calc(4vh - 11vw));

					@media (min-resolution: 1.35dppx) {
						transform: translateY(calc((4vh - 11vw) + 1em)) !important;
					}
				}
		
				img {
					width: 115em;
					height: 100%;
					object-fit: cover;
					display: flex;
					scale: 1.1;
					mix-blend-mode: multiply;
					display: block;

					@media (width > 1920px) {
						width: 100vw;
						translate: 0 1em;
					}
				}

				.duplicate {
					position: absolute;
					z-index: -1;
					background-color: var(--bg-color);
					top: 0;
					width: 115em;
					height: 100%;
					scale: 1.1;
					mask: var(--current-img) no-repeat center / contain;
					-webkit-mask: var(--current-img) no-repeat center / contain;

					@media (width > 1920px) {
						width: 100vw;
						translate: 0 1em;
					}
				}
			}
		}

		nav {
			.menuIcon {
				display: flex;
				align-items: center;
				gap: 0.5em;
				font-size: 2em;
				width: 100%;
				justify-content: flex-start;
				color: white;
				padding: 0.8em;
				border: none;
				outline: none;
				background-color: transparent;
				cursor: pointer;
				font-family: 'Iwata Mincho Pro', serif;

				span {
					font-size: 0.7em;
				}

				@media (width >= 750px) {
					display: none;
				}
			}

			.menu {
				position: fixed;
				z-index: 15;
				width: 100%;
				height: 100dvh;
				top: 0;
				left: 0;

				.menuWrapper {
					width: 100%;
					height: 100%;
					position: relative;
					display: flex;

					nav {
						padding: 4em;
						height: 100%;
						display: flex;
						align-items: center;

						@media (height < 750px) {
							align-items: flex-end;

							ul {
								font-size: 1.2em !important;
							}
						}
						
						ul {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							font-size: 1.5em;
							gap: 1.5em;
						}
					}

					button {
						background-color: transparent;
						border: none;
						outline: none;
						color: white;
						font-size: 2em;
						padding: 0.8em;
						cursor: pointer;
						position: absolute;
						top: 1em;
						left: 1em;
						font-family: 'Iwata Mincho Pro M', serif;
						display: flex;
						align-items: center;
						gap: 0.5em;

						@media (height < 870px) {
							font-size: 1.7em;
							padding: 1em;
							top: 0;
						}
						
						span {
							font-size: 0.8em;
						}
					}

					.menuBackground {
						position: absolute;
						z-index: -1;
						top: 0;
						left: 0;
						width: 100%;
						height: auto;
						pointer-events: none;
						translate: -7em;
				
						.backgroundWrapper {
							width: 30em;
							height: 100%;
							position: relative;
							display: flex;
							align-items: center;
							justify-content: center;
							scale: 1;
					
							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
								display: flex;
								scale: 1.1;
								mix-blend-mode: multiply;
							}

							.duplicate {
								position: absolute;
								z-index: -1;
								background-color: var(--bg-color);
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								scale: 1.1;
								-webkit-mask: var(--current-img) no-repeat center / contain;
								mask: var(--current-img) no-repeat center / contain;
							}

							.duplicate img {
								position: absolute;
								z-index: -2;
								filter: drop-shadow(0px 2000px 0 var(--bg-color));
								transform: translateY(calc(-2000px - 45.5%)) translateX(-90.9%);
							}
						}
					}
				}
			}
			
			ul {
				list-style: none;
				font-size: 1.2em;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2em;

				@media (width < 750px) {
					display: none;
				}

				li {
					a {
						color: white;
						text-decoration: none;

						&.active {
							font-weight: bold;
							color: black;
						}
					}
				}
			}
		}
	}
}
