:root {
    --bg-purple: #831679;
    --bg-green: #5e853a;
    --bg-lilac: #62608f;
    --bg-salmon: #b7645c;
    --bg-blue: #154587;
    --bg-orange: #c47128;
    --bg-yellow: #a58c31;
    --bg-red: #c32818;
    --bg-black: #392c1e;
    --bg-white: #5e5e5e;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Iwata Mincho Pro M';
    src: url('./assets/fonts/IwaMinPro-Md.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iwata Mincho Pro Fate BD';
    src: url('./assets/fonts/IwaOMinPro-Fate-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS PMincho';
    src: url('./assets/fonts/MS-PMincho-02.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Iwata Mincho Pro M', serif;
    --sb-track-color: white;
    --sb-thumb-color: var(--bg-color);
    --sb-size: 5px;
    background-color: var(--bg-color);

    &::-webkit-scrollbar {
        width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 1px;
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
    }
}
