:root {
    --bg-purple: #831679;
    --bg-green: #5e853a;
    --bg-lilac: #62608f;
    --bg-salmon: #ee6659;
    --bg-blue: #154587;
    --bg-orange: #f27e19;
    --bg-yellow: #e0a633;
    --bg-red: #c32818;
    --bg-black: #392c1e;
    --bg-white: #7e7e7e;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Iwata Mincho Pro M';
    src: url('./assets/fonts/IwaMinPro-Md.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iwata Mincho Pro Fate BD';
    src: url('./assets/fonts/IwaOMinPro-Fate-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS PMincho';
    src: url('./assets/fonts/MS-PMincho-02.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Iwata Mincho Pro M';
}